.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999; /* Ensure it's above everything */
  background-color: #69391E; /* default */
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease, top 0.05s, left 0.05s;
}
